.container {
  margin: 0 150px;
  color: white;
}

.h4 {
  color: #ff4d4d;
  margin-bottom: 50px;
}

.regionName {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: -0.035em;
  text-align: left;
  color: #89e159;
  margin: 20px 0;
}

.illnessContainer {
  margin: 15px 0;
}

.illnessCards {
  display: flex;
  margin-top: 10px;
  gap: 16px;
}

.illnessCards > div {
  border-radius: 20px;
  border: 1px solid #89e159;
  padding: 19px 50px;
  background: #1f2431;
  display: flex;
  align-items: center;
  gap: 12px;
}

.chance {
  color: #ff4d4d;
  font-weight: 600;
  text-align: center;
  font-size: 24px;
}

.card p {
  color: #dbe2f9;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.455px;
}

.card span {
  font-weight: 600;
  color: #89e159;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}