.container {
  color: white;
  position: relative;
  height: 600px;
  border: #89e159 2px solid;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 50px;
}

.text {
  bottom: 7%;
  z-index: 100;
  position: absolute;
}
