.layout {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 50px 150px;
  height: 45px;
  background-color: #1f2431;
  border: solid 1px #89e159;
  border-radius: 23px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.container a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 20px;
  padding: 0px 20px;
  font-size: 16px;
  font-weight: 400px;
  color: #dbe2f9;
}

.active {
  background-color: #89e159;
  color: #1f2431 !important;
  font-size: 16px;
  font-weight: 700px !important;
}

.headerDropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px 50px 150px;
  flex-wrap: wrap;
}

.filters {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
.header {
  color: #89e159;
  font-size: 36px;
  font-weight: 400;
}

.image {
  position: fixed;
  z-index: -100;
  mix-blend-mode: overlay;
}
